.market-container {
    display: grid;
    grid-template-columns: 75px auto auto auto auto auto auto 75px;
    column-gap: 2em;
    align-items: center;
    width: 100%;
}

.market-item {
    -webkit-user-select: none;
    user-select: none;
    border: 3px solid black;
    padding: 10px;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1s ease-in;
}

@keyframes fading {
    25%, 75% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }
}

.fading {
    animation: fading 1s ease-in-out;
}

.market-item:hover {
    cursor: pointer;
    border-color: orange;
    color: orange;
    transform: translateY(-10px);
}

.market-item:active {
    border-color: red;
    color: red;
    transform: translateY(-15px);
}


.market-button {
    height: 50px;
}

.market-button:hover {
    border-color: orange;
    color: orange;
    outline: none;
}

.market-button:active {
    border-color: red;
    color: red;
    outline: none;
}
