@media (max-width: 1450px) {
    .list-container {
        grid-template-columns: auto auto auto auto;
        column-gap: 1em;
    }
}

@media (max-width: 1300px) {
    .market-container {
        grid-template-columns: 50px auto auto auto auto 50px;
        column-gap: 1em;
    }

    .list-container {
        grid-template-columns: auto auto auto;
        column-gap: 1em;
    }
}

@media (max-width: 800px) {
    nav {
        padding: 2px 5px;
    }

    nav h2 {
        font-size: 1.5em;
    }

    .nav-column {
        width: 120px;
    }

    .nav-logo {
        width: 63px;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        padding: 0 2px
    }

    .market-container {
        grid-template-columns: 50px auto auto 50px;
        column-gap: 10px;
    }

    .list-container {
        grid-template-columns: auto auto;
        column-gap: 10px;
    }

    .market-button {
        width: 20px;
    }

    .market-button-left {
        justify-self: flex-end;
    }

    .market-button .arrow {
        transform: translate(-8px, 2px);
    }

    .market-button .left-arrow {
        transform: translate(-8px, 2px) rotate(180deg);
    }
}

@media (max-width: 430px) {
    nav h2 {
        font-size: 1.2em;
    }

    .market-container {
        grid-template-columns: 50px auto 50px;
    }

    .list-container {
        grid-template-columns: auto;
    }
}